<div class="row" id="login-form">
  <h1 class="text-center title-form">Log In</h1>
  <div class="col-6 offset-3">
    <form action="/auth/login" method="POST">

<div class="mb-3">
      <label class="form-label">
        Username
        <input class="form-control" type="text" name="username" placeholder="Your username" />
      </label>
</div>

<div class="mb-3">
      <label class="form-label">
        Email
        <input class="form-control" type="email" name="email" placeholder="Your email" />
      </label>
</div>

<div class="mb-3">
      <label class="form-label">
        Password
        <input class="form-control" type="password" name="password" placeholder="Your password" />
      </label>
</div>

      <button class="btn btn-dark mb-3" type="submit">Log In</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>
