<header class="header">
  <div class="overlay"></div>

<div class="video-spacing">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../videos/waterfall-video.mp4" type="video/mp4">
  </video>
</div>

  {{!-- <img src="../images/waterfall-background-one.jpg" class="img-fluid" alt="Responsive image"> --}}

  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100">
        <h2 class="display-3 text-white">Welcome to <span style="font-family: 'Cedarville Cursive', cursive; color: white">What a Waterfull World</span> <br/> An online collection of waterfalls in Europe.</h2>
        <br><br>
        <p class="lead mb-0 text-white">Discover local wonders, contribute your finds, and realize that breathtaking nature is closer than you think.</p>
      </div>
    </div>
  </div>
</header>

