<h1>Welcome to What a Waterfull World - an online collection of waterfalls in Europe. </h1>
<p>Discover local wonders, contribute your finds, and realize that breathtaking nature is closer than you think.</p>
