<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>What a Waterfall World</title>
    <link rel="shortcut icon" href="../images/favicon-2.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    {{! ****** BOOTSTRAP LINKED: ******}}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

  </head>

  <body class="d-flex flex-column vh-100">
    {{! set vh-100 to have the footer in the end of the page }}

    <nav
      class="navbar fixed-top navbar-expand-lg nav-bar-style" style="padding-top: 0"
    >
      <div class="container-fluid nav-bar-shadow" style="background-color: white" >
        <a class="navbar-brand" href="/"><p class="nav-bar-text"></p> 
         <img src="../images/logo-no-background.png" width="150" height="80">
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/waterfalls"><h5 class="nav-bar-text-two">Explore</h5></a>
            <a class="nav-link" href="/waterfall/create"><h5 class="nav-bar-text-two">Add Waterfall</h5></a>
            <a class="nav-link" href="/overview"><h5 class="nav-bar-text-two">Overview</h5></a>

          </div>

          <div class="navbar-nav ms-auto nav-margin">
            {{#if currentUser}}
              <a class="nav-link" href="/auth/logout"><h5 class="nav-bar-text-two">Log out</h5></a>
            {{else}}
              <a class="nav-link" href="/auth/signup"><h5 class="nav-bar-text-two">Sign up</h5></a>
              <a class="nav-link" href="/auth/login"><h5 class="nav-bar-text-two">Log in</h5></a>
            {{/if}}
          </div>
        </div>
      </div>
    </nav>

    {{!-- <main class="container mt-5"> --}}
      {{!margin-top set to 5}}
      {{{body}}}
    {{!-- </main> --}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/script.js"></script>

    <footer class="footer bg-light py-3 mt-auto">
      <div class="container">
        <span class="text-muted">&copy; What a Waterfall World 2023 - by Merna
          Wahdan & Kim Idsinga</span>
      </div>
    </footer>

  </body>
</html>