
<div class="overview-map" id="map"></div>
 <script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}">
</script>

<script>

   function startMap(waterfalls) {

    const map = new google.maps.Map(
      document.getElementById('map'),
      {
        zoom: 5,
        center: { lat: waterfalls[0].location.coordinates[0], lng: waterfalls[0].location.coordinates[1] }
      }
    );

    waterfalls.forEach(waterfall => {
        new google.maps.Marker({
            position: {lat: waterfall.location.coordinates[0], lng: waterfall.location.coordinates[1]},
            map: map,
            title: `${waterfall.name}`
        });

    })
  }

  startMap({{{waterfalls}}});


</script>