<div class="row">
  <h1 class="text-center title-form">Add a waterfall</h1>
  <div class="col-6 offset-3">
    <form method="POST" action="/waterfall/create" enctype="multipart/form-data" class="needs-validation" novalidate >
      <div class="mb-3">
        <label class="form-label">
          Name Waterfall:
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="Name Waterfall"
            required
          />
          <div class="invalid-feedback">Please provide a name.</div>
        </label>
      </div>

      <div class="mb-3">
        <label class="form-label">
          Country:
          <input
            class="form-control"
            type="text"
            name="country"
            placeholder="Country"
            required
          />
        </label>
      </div>

      <div class="mb-3">
        <label class="form-label">
          City:
          <input
            class="form-control"
            type="text"
            name="city"
            placeholder="City"
            required
          />
        </label>
      </div>

      <div class="mb-3">
        <label class="form-label">
          Postal code:
          <input
            class="form-control"
            type="text"
            name="postalCode"
            placeholder="Postal Code"
          />
        </label>
      </div>

      <div class="mb-3"> 
        <label class="form-label">
          Latitude:
          <input
            class="form-control" 
            type="text"
            name="lat"
            placeholder="Latitude"
          />
        </label>
      </div>

      <div class="mb-3"> 
        <label class="form-label">
          Longitude:
          <input
            class="form-control" 
            type="text"
            name="lng"
            placeholder="Longitude"
          />
        </label>
      </div>

      <div class="mb-3">
        <label class="form-label">
          How to get here:
          <textarea
            class="form-control"
            rows="4"
            cols="40"
            type="text"
            name="transportation"
            placeholder="Share your recommendations for traveling to this waterfall"
          ></textarea>
        </label>
      </div>

      {{! ********* IMAGE UPLOAD: *********}}
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload cover image:
          <input
            class="form-control"
            type="file"
            name="waterfall-image"
            id="formFile"
          />
        </label>
      </div>

      <button type="submit" class="btn btn-success mb-3">
        Add waterfall
      </button>

    </form>

    <a href="/waterfalls">All waterfalls</a>

  </div>
</div>