<h2>Add a new waterfall to the list:</h2>

<form method="POST" action="/waterfall/create" enctype="multipart/form-data">
  <label>
    Name:
    <input type="text" name="name" />
  </label>

  {{! <label> Upload image:
    </label> }}

  <label>
    Postal code:
    <input type="text" name="postalCode" />
  </label>

  <label>
    City:
    <input type="text" name="city" />
  </label>

  <label>
    Country:
    <input type="text" name="country" />
  </label>

  <label>
    Advice for transportation:
    <input type="text" name="transportation" />
  </label>

  {{! ********* IMAGE UPLOAD: *********}}
  <div class="form-group">
    <label>Image:
      <input type="file" name="waterfall-image" class="form-control-file" />
      {{! div's and class = copied from Ironhack documentation for now, just as inspiration for building later with bootstrap}}
    </label>
  </div>

  <button type="submit"> Add waterfall </button>

</form>