<h1>Waterfalls</h1>

{{#each waterfalls}}
  <div>
    <h3>Name: {{name}}</h3>
    <img class="waterfall-imgs" src="{{imageUrl}}" alt="waterfall image" />
   
    <p>Country: {{country}}</p>

    <form action="/waterfall/{{_id}}" method="GET">
      <button>See details</button>
    </form>

  </div>
{{/each}}